*{
    padding: 0;
    margin: 0;
}
nav{
    background-image: url(asset/navbg.png);
    font-family:'Carltine';
    display: flex;
    height: 4.722vw;
    background: rgb(51, 13, 13) ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 4vw;
    padding-left: 4vw;
}
.nav-logo img{
    height: 3.125vw;
    width: 11.252vw;
}

nav ul{
    display: flex;
    gap: 4vw;
}
nav ul li{
    padding-top: .6vw;
    list-style: none;
    font-size: 1.389vw;
}

nav ul  button{
    border: none;
    width: 10.278vw;
    height: 2.917vw;
    font-size: 1.111vw;
    border-radius: .5vw;
}
/* header */
.alcheringa-iitg-header{
    height: 45vw;
    background: rgb(81, 20, 20);
}

/* para 2 */

.para-2{
    position: relative;
}
.para-2 img{
    width: 100vw;
}

.about-alcher{
    position: absolute;
    width: 40vw;
    height: 30vw;
    top: 7vw;
    transform: rotate(-1.13deg);
    background-image: url("asset/about-alcher-bg.png");
    background-size: cover;
}
#about{
    left: 7.5vw;
}

.about-alcher-inner{
    margin-left: 1vw;
    margin-top: 1.6vw;
    width: 38vw;
    height: 28vw;
    transform: rotate(1.13deg);
    background-image: url(asset/highway-bg.png);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.about-alcher-inner h2{
    color: #B86234;
    font-style: Bosten;
    font-weight: 400;
    font-size: 2.333vw;
}
.about-alcher-inner p{
    width: 33vw;
    text-align: center;
    color: #330307;
    font-style: Carltine;
    font-weight: 400;
    font-size: 1.189vw;
}

#highway{
    right: 7.5vw;
}
/* city and grid info */

.city-and-event-info{
    margin-top: -5px;
    background-image: url(./asset/para-2-about-alcher-highway.png);
    height: 42vw;
    width: 100vw;
    background-size: contain;
}

.festflow-dropdown{
    padding-top: 7vw;
    padding-left: 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.festflow-header{
    font-family: Bosten;
    font-size: 2vw;
    color: #330307;
    font-weight: 400;
}
.festflow-header p{
    font-size: 1.4vw;
    font-family: Carltine;
    color: #330307;
    font-weight: 400;
}

.dropdown-city{
    margin-right: 10vw;
    display: flex;
    justify-content: center;
    position: relative;
    width: 16vw;
    height: 6vw;
    border: 1.5px solid #B86234;
    border-radius: 1vw;
}

.dropdown-city select{
    width: 100%;
    background: none;
    border: none;
    padding-left: 2vw;
    appearance: none;
    border-radius: 1vw;
    font-size: 2vw;
}

.dropdown-city select option{
    padding-right: 4vw;
    appearance: none;
}

/* grid */
.grid {
    margin-top: 3vw;
    margin-left: 7vw;
    display: grid;
    grid-template-columns:repeat(4, 25vw);
    text-align: left;
}

.grid div {
    padding: 1vw;
    font-family: "Carltine";
    font-size: 1.6vw;
    font-weight: 600;
    text-align: left;
}
#drop-icon{
    height: 1vw;
    position: absolute;
    right: 1vw;
    top: 2.5vw;
}

