*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Carltine'; 
    src: url('../carltine-font-family/CarltineMedium-MVnzn.ttf');
}

@font-face {
    font-family: 'Bosten'; 
    src: url('../bosten-font-1724738891-0/bostenregular-l3ljd.otf');
}

@font-face {
    font-family: 'CarltineBold'; 
    src: url('../carltine-font-family/CarltineBold-BWxy8.ttf');
}
nav{
    background-image: url(asset/navbg.png);
    font-family:'Carltine';
    display: flex;
    height: 4.722vw;
    background: rgb(51, 13, 13) ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 4vw;
    padding-left: 4vw;
    z-index: 2;
}
.nav-logo img{
    height: 3.125vw;
    width: 11.252vw;
}

nav ul{
    display: flex;
    gap: 4vw;
}
nav ul li{
    padding-top: .6vw;
    list-style: none;
    font-size: 1.389vw;
}

nav ul  button{
    border: none;
    width: 10.278vw;
    height: 2.917vw;
    font-size: 1.111vw;
    border-radius: .5vw;
}
/* header */
.alcheringa-iitg-header{
    height: 45vw;
    background: rgb(81, 20, 20);
    background-image: url(asset/hero.png);
    background-size: cover;
    display: flex;
    justify-content: center;
}

.highway-to-alcher-header
{
    background: #B86234;
    width: 50vw;
    height: 35vw;
    display: flex;
    justify-content: center;
}

.highway-to-alcher-inner{
   
    background: #F1D7AC;
    width: 50vw;
    height: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    clip-path: polygon(0 0, 49.5vw 0, 48.6vw 34vw, .5vw 34.5vw);
}

.Alcheringa-IITG{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vw;
    height: 6vw;
    width: 14vw;
    background: #B86234;
    clip-path: polygon( 0vw 0.8vw, 14vw 0vw, 13vw 6vw, 1.5vw 6vw);
    font-family: Bosten;
    font-size: 2vw;
    color: #FFE7A6;
}
.Alcheringa-IITG p{
    font-size: 1vw;
    font-family: Carltine;
    font-weight: 400;
}
.presents{
    margin-top:2vw;
    font-size: 1.2vw;
    font-family: Carltine;
}

.imgHighway{
    margin-top:2vw;
    background-image: url(asset/imgHigh.png);
    width: 31vw;
    height: 16vw;
    background-size: cover;
}



.highway-to-alcher-inner img{
    width: 55vw;
}


.highway-to-alcher-inner .alcheringa-logo{
    margin-top:2vw ;
}

/* registeration */
.registeration-city{
    display: flex;
    justify-content: center;
    margin-top: 2vw;
}

.registeration-city img{
    margin-top: -5vw;
    width: 100vw;
    height: 10vw;
    /* background-image: url(asset/register-bg.png); */
    background-size: cover;
    
}

/* para 2 */
body{
    background-color: #F1D7AC;
}

.masterdiv{
    width: 100vw;
}



.para-2{
    text-align: center;
    width: 90vw;
    margin-top: -5px;
    display: flex;
    gap: 5vw;
    justify-content: center;
    background-color: #E9C68C;
    border: 1vw solid #823329;
    margin: 2vw;
    padding: 2vw;
}


.about-alcher{
    width: 40vw;
    height: 30vw;
    transform: rotate(-1deg);
    background-image: url("asset/about-alcher-bg.png");
    background-size: cover;
}

.about-alcher-inner{
    margin-left: 1vw;
    margin-top: 1.6vw;
    width: 38vw;
    height: 28vw;
    transform: rotate(1.13deg);
    background-image: url(asset/highway-bg.png);
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
}

.about-alcher-inner h2{
    color: #B86234;
    font-family: 'Bosten';
    font-weight: 400;
    font-size: 2.333vw;
}
.about-alcher-inner p{
    width: 33vw;
    text-align: center;
    color: #330307;
    font-family: 'Carltine';
    font-weight: 400;
    font-size: 1.189vw;
}



/* city and grid info */

.city-and-event-info{
    margin-top: -5px;
    width: 94vw; 
    background-color: #E9C68C;
    border: 1vw solid #823329;
    margin: 2vw;
}

.festflow-dropdown{
    position: relative;
    padding-top: 7vw;
    padding-left: 7vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.festflow-header{
    font-family:' Bosten';
    font-size: 2vw;
    color: #330307;
    font-weight: 800;
}
.festflow-header p{
    font-size: 1.4vw;
    font-family: 'Carltine';
    color: #330307;
    font-weight: 200;
}

.drop-icon{
    position: absolute;
    right: 4.5vw;
    top: 8.3vw;
    z-index: 3;
    cursor: pointer;
   /* transform: rotate(180deg); */
}
.dropdown-city {
    z-index: 2;
    font-family: Bosten;
    color: #FFE7A6;
    font-size: 2.5vw;
    width: 15vw;
    height: 5vw;
    margin-right: 2vw;
    position: relative;
    background: #B86234;
    border-radius: 1vw 1vw 1vw 1vw;
}

.dropdown-header {
    height: 4vw;
    line-height: 4vw;
    display: flex;
    cursor: pointer;
    justify-content: center;
    padding-right: 1vw;
    /* padding-left: 1vw; */
}

.dropdown-icon{
    height: 10vw;
    width: 10vw;
    background: #000;
}

.dropdown-list {
    background: #B86234;
    list-style-type: none;
    display: none; 
    width: 15vw;
    border-radius: 0vw 0vw 1vw 1vw;
}
.dropdown-list li {
    display: flex;
    justify-content: center;
    font-size: 2.5vw;
    width: 15vw;
    height: 5vw;
    line-height: 5vw;
    margin-right: 2vw;
    text-align: left;
    cursor: pointer;
}

/* grid */
.grid {
    margin-top: 3vw;
    display: grid;
    grid-template-columns:repeat(4, 24.2vw);
    
}

.grid div {

    padding: 1vw;
    font-size: 1.6vw;
    text-align: left;
}

/* second page */

.cartsdiv{
    display: flex;
    overflow-y:scroll ;
    gap: 10vw;
    margin-top: -1vw;
    margin: 2vw;
    padding: 2vw;
    border: 1vw solid #823329;   
}

#ye-wala{
    padding-top: 1vw;
}


@media screen and (max-width: 480px) {
    body {
        .para-2{
            flex-direction: column;
            align-items: center;
        }
        .about-alcher{
            width: 80vw;
            height: 70vw;
        }
        .about-alcher-inner{
            width: 78vw;
            height: 68vw;
        }

        .about-alcher-inner h2{
            font-size: 6vw;
        }
        .about-alcher-inner p{
            font-size: 3vw;
            width: 70vw;   
        }

        .festflow-header{
            font-size: 4vw;
        }
        .festflow-header p{
            font-size: 3vw;
        }

        .grid {
            margin-top: 3vw;
            margin-bottom: 2vw;
            left: 3vw;
            display: grid;
            grid-template-columns:repeat(2,50vw);
            text-align: center;
        }
        
        .grid div {
            padding: 1vw;
            font-size: 2.6vw;
            text-align: left;
        }
    }
}